<?xml version="1.0" ?>
<config>
    <localeversion suppressWarning="false">0.9.0</localeversion>
    <version>268</version>
    <help url="https://manager.inna.ru/help.html"/>
    <javaTest url="https://manager.inna.ru/testjava.html"/>
    <porttest host="manager.inna.ru" application="video/portTest" timeout="10000"/>    
    <bwMon server="192.168.0.91" application="video/bwTest"/>
    <application uri="rtmp://manager.inna.ru/bigbluebutton" host="https://manager.inna.ru/bigbluebutton/api/enter"/>
    <language userSelectionEnabled="true" />
    <skinning enabled="true" url="https://manager.inna.ru/client/branding/css/BBBDefault.css.swf" />
    <shortcutKeys showButton="true" />
    <browserVersions chrome="41" firefox="36" flash="17" java="1.7.0_51" />
    <layout showLogButton="false" defaultLayout="bbb.layout.name.defaultlayout"
            showToolbar="true" showFooter="false" showMeetingName="false" showHelpButton="false" 
            showLogoutWindow="true" showLayoutTools="false" confirmLogout="true"
            showRecordingNotification="true"/>
    <meeting muteOnStart="false" />
    <lock disableCamForLockedUsers="false" disableMicForLockedUsers="false" disablePrivateChatForLockedUsers="false" 
          disablePublicChatForLockedUsers="false" lockLayoutForLockedUsers="false" lockOnJoin="true" lockOnJoinConfigurable="false"/>
            
		<modules>
		 
		<module name="ChatModule" url="https://manager.inna.ru/client/ChatModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/bigbluebutton" 
			dependsOn="UsersModule"	
			privateEnabled="false"  
			fontSize="12"
			position="top-right"
			baseTabIndex="701"
			colorPickerIsVisible="false"
		/>

		<module name="UsersModule" url="https://manager.inna.ru/client/UsersModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/bigbluebutton" 
			allowKickUser="true"
			enableRaiseHand="true"
			enableSettingsButton="true"
			baseTabIndex="301"
		/>

		
		<module name="DeskShareModule" 
			url="https://manager.inna.ru/client/DeskShareModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/deskShare"
			showButton="true"
			autoStart="false"
			autoFullScreen="false"
			baseTabIndex="201"
		/>
		
 	<module name="PhoneModule" url="https://manager.inna.ru/client/PhoneModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/sip" 
			autoJoin="true"
			listenOnlyMode="true"
			presenterShareOnly="true"
			skipCheck="true"
			showButton="true"
			enabledEchoCancel="true"
			useWebRTCIfAvailable="false"
			showPhoneOption="false"
			echoTestApp="9196"
			dependsOn="UsersModule"
		/>

		<module name="VideoconfModule" url="https://manager.inna.ru/client/VideoconfModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/video"
			dependson = "UsersModule"
			videoQuality = "100"
			presenterShareOnly = "false"
			controlsForPresenter = "true"
			resolutions = "320x240,640x480,1280x720"
			autoStart = "false"
			skipCamSettingsCheck="true"
			showButton = "true"
			showCloseButton = "false"
			publishWindowVisible = "true"
			viewerWindowMaxed = "false"
			viewerWindowLocation = "top"
			camKeyFrameInterval = "30"
			camModeFps = "10"
			camQualityBandwidth = "0"
			camQualityPicture = "90"
			smoothVideo="false"
			applyConvolutionFilter="false"
			convolutionFilter="-1, 0, -1, 0, 6, 0, -1, 0, -1"
			filterBias="0"
			filterDivisor="4"
			enableH264 = "true"
			h264Level = "2.1"
			h264Profile = "main"		
			displayAvatar = "false"
			focusTalking = "false"
			glowColor = "0x4A931D"
			glowBlurSize = "30.0"	
		/>
<!--		
		<module name="WhiteboardModule" url="https://manager.inna.ru/client/WhiteboardModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/bigbluebutton" 
			dependsOn="PresentModule"
			baseTabIndex="601"
			whiteboardAccess="presenter"
			keepToolbarVisible="false"
		/>


    <module name="PollingModule" url="https://manager.inna.ru/client/PollingModule.swf?v=268" 
      uri="rtmp://manager.inna.ru/bigbluebutton" 
      dependsOn="PresentModule"
    />
    		

		<module name="PresentModule" url="https://manager.inna.ru/client/PresentModule.swf?v=268" 
			uri="rtmp://manager.inna.ru/bigbluebutton" 
			host="https://manager.inna.ru" 
			showPresentWindow="true"
			showWindowControls="true"
			openExternalFileUploadDialog="false"
			dependsOn="UsersModule"
			baseTabIndex="501"
			maxFileSize="30"
		/>
-->
		<module name="VideodockModule" url="https://manager.inna.ru/client/VideodockModule.swf?v=268"
			uri="rtmp://manager.inna.ru/bigbluebutton" 
			dependsOn="VideoconfModule, UsersModule"
			autoDock="true"
			showControls="true"
			maximizeWindow="false"
			position="bottom-right"
			width="172"
			height="179"
			layout="smart"
			oneAlwaysBigger="false"
			baseTabIndex="401"
		/>
		
		<module name="LayoutModule" url="https://manager.inna.ru/client/LayoutModule.swf?v=268"
			uri="rtmp://manager.inna.ru/bigbluebutton"
			layoutConfig="https://manager.inna.ru/client/conf/layout.xml"
			enableEdit="true"
		/>

<!--
    <module name="NotesModule" url="https://manager.inna.ru/client/NotesModule.swf?v=268"
      saveURL="https://manager.inna.ru"
      position="top-left"
    />
    
    <module name="BroadcastModule" url="https://manager.inna.ru/client/BroadcastModule.swf?v=268"
      uri="rtmp://manager.inna.ru/bigbluebutton"
      streamsUri="https://manager.inna.ru/streams.xml"
      position="top-left"
      showStreams="true"
      autoPlay="false"
      dependsOn="UsersModule"
    />
-->
    		
	</modules>
</config>
